body{
    background: transparent;

}

.menu-a{
    color: rgb(250, 4, 4);
    font-size: 28px;
    text-align: center;
    
    
}

.a{

color: rgb(255, 255, 255);
font-size: 28px;

}


.b{

    color: rgb(255, 255, 255);
    font-size: 28px;
    
    }

    .ol{
color: rgb(0, 0, 0);
        font-size: 28px;

    }